h1{
    color: orangered;
}
a{
    color: blue;
}
li{
    list-style-type: square;
}
section{
    background-color: aliceblue;
}

header {
    padding: 40px;
    background-color: rgb(17, 124, 143);
}
header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}
img {
    padding: 10px;
    image position: center;;
}
